<nav>
  <div class="nav-container">
    <div class="logo-heading">
      <div class="logo"><img src="/images/logo.png" alt="" /></div>
      <div class="nav-heading">
        <a href="/"
          ><h1>Gymkhana Elections</h1>
          <h1>2021</h1>
        </a>
      </div>
    </div>
    <div class="register-nav">
      <a href="/register" class="btn btn-blue">Register</a>
    </div>
  </div>
</nav>
