<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gymkhana Elections 2021</title>
    <%- include("partials/headLinks") %>
  </head>
  <body>
    <%- include('partials/nav') %>
    <div class="success-container">
      <div class="greentick">
        <img src="images/green-tick.png" alt="" />
      </div>
      <h2>Congrats, You have successfully registered</h2>
      <p>
        Now, you can see yourself on the home page where voters can also see
        your poster and SOP.
      </p>
      <a href="/" class="btn btn-blue">Go to Home</a>
    </div>
  </body>
</html>
